---
const { titel, beskrivelse, billede, emne, emnedag, emnemaaned, emneaar } =
  Astro.props;
---

<article>
  <h3>{titel}</h3>
  <p>{beskrivelse}</p>
  <div class="imgcontainer">
    <img src={billede} alt="" />
    <button>{emne}</button>
  </div>
  <div class="cardfooter">
    <p>{emnedag}</p>
    <div class="datodiv">
      <p>{emnemaaned}</p>
      <p>{emneaar}</p>
    </div>
  </div>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: var(--cards);
    border-radius: 10px;
    padding: 15px 10px;
  }
  .imgcontainer {
    padding: 20px 0 0; /* Fjerner padding */
    margin: -15px -10px 0 -10px; /* Trækker den ud af paddingen */
    position: relative;
  }
  button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
    font-family: var(--font2), sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--cards);
    color: var(--fontfarve);
  }
  h3 {
    font-family: var(--font1), sans-serif;
    color: var(--fontfarve);
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    letter-spacing: 1px;
  }
  p {
    font-family: var(--font2), sans-serif;
    color: var(--fontfarve);
    font-size: clamp(1rem, 2.5vw, 1.125rem); /* Dynamisk fra ca 16px til 18px */
    line-height: 25px;
  }
  .cardfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardfooter p {
    font-size: 35px;
  }
  .datodiv p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  @media (min-width: 800px) {
    .cardfooter p {
      font-size: 2.1875rem;
    }
    .datodiv p {
      font-size: 1.125rem;
    }
  }
</style>

<!-- <style>
  .titeldiv h3 {
    color: var(--fontfarve);
    font-family: var(--font1), sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
  }
  .titeldiv p {
    color: var(--fontfarve);
    font-family: var(--font2), sans-serif;
    font-size: 17px;
    line-height: 25px;
  }
  .cardfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .datodiv {
    display: flex;
    flex-direction: column;
  }
  .dag {
    font-size: 38px;
    font-weight: 500;
  }
  .datodiv span {
    font-weight: 500;
    font-size: 20px;
  }
  span {
    color: var(--fontfarve);
    font-family: var(--font1);
  }
  img {
    width: 100%;
  }
  .imgcontainer {
    position: relative;
    display: inline-block;
  }
  button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    border-radius: 40px;
    border: none;
    padding: 10px 20px;
    font-family: var(--font2), sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--cards);
    color: var(--fontfarve);
  }
</style> -->
